*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: lightcyan;
}

.main{
    padding-top: 1rem;
    padding-left: 1rem;
    color: black;
}

.ul{
    padding-left: 2rem;
}

ol{
    padding-left: 2rem;
}

.like{
    color: green;
}

il > ol{
    color: crimson;
}

#thunder{
    color: purple;
}

anchor{
    color: plum;
    font-style: italic;
}

h3{
    font-style: italic;
}

image{
    border-radius: 1rem;
}